<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список всех пользователей</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        .top-link-container {
            width: 100%;
            max-width: 600px;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 20px;
        }

        body {
            justify-content: flex-start;
        }

        h3 {
            width: 100%;
            max-width: 600px;
            text-align: left;
            margin-bottom: 25px;
        }
    </style>
</head>
<body>

<div class="top-link-container">
    <a th:href="@{/}">
        <button type="button" class="styled-button">На главную</button>
    </a>
</div>
<h3>Список пользователей:</h3>
<table class="users">

    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}"
        th:attr="onclick=|window.location.href='@{/mvc/users/{id}(id=${user.id})}'|"
        th:data-user-id="${user.id}">

        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>