version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    container_name: highload-app-container

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/mydatabase
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password

    depends_on:
      - db

    restart: no
    networks:
    - backend-network

  db:
    image: postgres:latest
    container_name: highload-db-container
    volumes:
      - postgres_data:/var/lib/postgresql

    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password

    ports:
      - "5432:5432"
    restart: no
    networks:
    - backend-network
  cache:
    image: redis:latest
    container_name: highload-cache-container
    command: [
      "redis-server",
      "--save", "",
      "--appendonly", "no",
      "--maxmemory", "20mb",
      "--maxmemory-policy", "allkeys-lru"
    ]
    ports:
    - "6379:6379"
    networks:
    - backend-network
volumes:
  postgres_data:
    driver: local
networks:
  redis-network:
  backend-network: