spring:
  datasource:
    url: jdbc:postgresql://192.168.31.92:5432/mydatabase
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

